{% extends 'base.html' %}

{% block content %}
    <div class="container mt-4">
        <h1>Корзина</h1>
        {% if cart_items %}
            <table class="table mt-4">
                <thead>
                <tr>
                    <th>Товар</th>
                    <th>Цвет</th>
                    <th>Количество упаковок</th>
                    <th>Цена</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for cart_item in cart_items %}
                    <tr>
                        <td>{{ cart_item.product.name }}</td>
                        <td>{{ cart_item.color.name }}</td>
                        <td>
                            <form method="POST" action="{% url 'update_cart' %}">
                                {% csrf_token %}
                                <input type="hidden" name="cart_item_id" value="{{ cart_item.id }}"
                                       class="form-control quantity-input">
                                <div class="input-group">
                                    <input type="number" name="quantity" value="{{ cart_item.quantity }}" min="1"
                                           class="form-control">
                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-primary">Обновить</button>
                                    </div>
                                </div>
                            </form>
                        </td>
                        <td class="total-price-{{ cart_item.id }}">{{ cart_item.product.price }}×{{ cart_item.quantity }}</td>
                        <td>
                            <form method="POST" action="{% url 'remove_from_cart' cart_item.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Удалить</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <p class="lead">Общая сумма: {{ total_price }}</p>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#orderModal">
                Оформить заказ
            </button>

            <!-- Модальное окно с формой заказа -->
            <div class="modal fade" id="orderModal" tabindex="-1" role="dialog" aria-labelledby="orderModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="orderModalLabel">Оформление заказа</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <!-- Форма для ввода информации о заказе -->
                            <form method="POST" action="{% url 'order' %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="full-name">ФИО</label>
                                    <input type="text" class="form-control" id="full-name" name="full_name" required>
                                </div>
                                <div class="form-group">
                                    <label for="phone-number">Номер телефона</label>
                                    <input type="tel" class="form-control" id="phone-number" name="phone_number"
                                           required>
                                </div>
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="email" class="form-control" id="email" name="email">
                                </div>
                                <div class="form-group">
                                    <label for="address">Адрес</label>
                                    <textarea class="form-control" id="address" name="address" required></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary">Отправить заказ</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        {% else %}
            <p>Ваша корзина пуста.</p>
        {% endif %}
    </div>

    <script>
        // Retrieve all quantity input fields
        var quantityInputs = document.querySelectorAll('.quantity-input');

        // Add event listener to each quantity input field
        quantityInputs.forEach(function (input) {
            input.addEventListener('change', function () {
                var cartItemId = input.dataset.cartItemId;
                var quantity = input.value;

                // Perform the multiplication
                var totalPrice = parseFloat(quantity) * parseFloat('{{ cart_item.product.price }}');

                // Update the total price element
                var totalPriceElement = document.getElementById('total-price-' + cartItemId);
                totalPriceElement.textContent = totalPrice.toFixed(2);
            });
        });
    </script>





{% endblock %}
